.about-section {
  color: $white;
  position: relative;
  padding-bottom: 50px;
  .container {
    position: relative;
    @include r(560) {
      overflow: hidden;
    }
  }
  .circle-decor {
    position: absolute;
    top: 0;
    left: 0;
    @include r(560) {
      height: 640px;
      img {
        transform: translateX(-20%);
        min-width: 100%;
        max-width: fit-content;
        height: 100%;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    top:-88px;
    width: 100%;
    height: 114px;
    right: 0;
    z-index: -1;
    background:linear-gradient(to right bottom, transparent 50%,  $dark 50%) left/100% 100% no-repeat;
    @include r(560) {
      height: 57px;
      top: -31px;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 25px;
    width: 100%;
    height: calc(100% - 25px);
    right: 0;
    background-color: $dark;
    z-index: -1;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include r(900) {
      display: block;
    }
  }
}

.about {
  &__info {
    max-width: 530px;
    padding-top: 85px;
    @include r(1200) {
      max-width: 450px;
    }
    @include r(900) {
      max-width: 100%;
      margin-bottom: 40px;
    }
    @include r(560) {
      padding-top: 50px;
    }
    .h2-title {
      color: $gold;
      line-height: 1;
    }
    .subtitle_middle {
      padding-left: 22px;
      margin-bottom: 30px;
    }
  }
}


.vacancies {
  &__block {
    max-width: 419px;
    width: 100%;
    margin-right: 67px;
    @include r(1200) {
      margin-right: 0;
      max-width: 400px;
    }
    @include r(900) {
      max-width: 100%;
    }
  }
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    .h4-title {
      color: $gold;
    }
  }
}

.vacancy {
  &__list {
    list-style-type: none;
    counter-reset: item;
  }
  &__item {
    position: relative;
    border-top: 1px solid #415867;
    padding: 21px 51px 17px 65px;
    counter-increment: item;
    @include r(560) {
      padding: 15px 56px 17px 40px;
    }
    .btn__arrow {
      position: absolute;
      right: 0;
      bottom: 17px;
       &.active {
         bottom: auto;
         top: 21px;
       }
    }
    &:before {
      position: absolute;
      left: 5px;
      top: 25px;
      font-size: 20px;
      line-height: 24px;
      color: $gray2;
      counter-increment: li;
      content: counter(item, decimal-leading-zero);
      @include r(560) {
        font-size: 16px;
        line-height: 19px;
        left: 0;
      }
    }
    &:after {
      content: '';
      height: 35px;
      width: 1px;
      position: absolute;
      transform: rotate(18deg);
      background-color: $gray2;
      left: 42px;
      top: 13px;
      @include r(560) {
        left: 28px;
        top: 16px;
        height: 28px;
      }
    }
  }
  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 13px;
    @include r(560) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 11px;
    }
  }
  &__info {
    position: relative;
    padding-bottom: 30px;
    color: $gray;
    display: none;
    p {
      font-size: 14px;
      line-height: 160%;
      margin-bottom: 15px;
    }
    &:after {
      content: '';
      width: 20px;
      display: inline-block;
      height: 4px;
      background-size: cover;
      background-image: url("../images/points.svg");
    }
  }
  &__link {
    font-size: 13px;
    line-height: 160%;
    transition: 0.3s ease-in-out;
    @include hover {
      opacity: 0.8;
    }
  }
}