.first-section {
  padding: 32px 0;
  position: relative;
  color: $white;
  min-height: 417px;
  @include r(560) {
    padding: 20px 0;
    min-height: auto;
    text-align: center;
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: calc(100% + 25px);
  }
  .logo {
    display: inline-block;
    max-width: 134px;
    margin-bottom: 54px;
    img {
      width: 100%;
    }
  }
}

.main-slider {
  &__item {
    p {
      font-weight: 400;
      font-size: 28px;
      line-height: 95.02%;
      margin-bottom: 44px;
    }
    @include r(560) {
      p {
        font-size: 22px;
        line-height: 95.02%;
        margin-bottom: 75px;
      }
      .h1-title {
          margin-bottom: 10px;
      }
    }
    @include r(360) {
      p {
        max-width: 150px;
        margin: 0 auto 75px;
      }
    }
  }
  .slick-dots {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-top: 20px;
    li {
      margin-right: 3px;
      button {
        display: block;
        padding: 0;
        font-size: 0;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 1px;
        width: 27px;
        height: 3px;
        transition: 0.3s ease-in;
      }
      &.slick-active {
        button {
          height: 7px;
        }
      }
    }
  }
}


.slide__info {
  max-width: 602px;
}
