.info-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $gold;
  padding: 18px 20px;
  color: $white;
  &__text {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    img {
      width: 40px;
      margin-right: 10px;
    }
    @include r(650) {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 120%;
      img {
        margin-right: 20px;
      }
    }
  }
}